@import "logo.css";

#header > :first-child {
  height: auto;
  width: 100%;
  display: inline-flex;
  padding-bottom: 25vh;
}

#brand {
  width: 5em;
  height: 5em;
  display: inline-flex;
  align-items: center;
}

#brand h1 {
  font-size: x-large;
}
