#body {
  display: grid;
  grid-template-rows: repeat(2, auto);
}

#intro {
  padding: 0 0 30vh;
  line-height: 1.5em;
  font-size: 1.8em;
}

#projects {
  display: grid;
  grid-template-rows: 8vh max-content;
  padding-bottom: 35vh;
}

#projects h1 {
  font-size: larger;
  font-weight: 900;
}

#project-links {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 2em;
}

#project-links div {
  height: auto;
  width: auto;
  display: grid;
  grid-template-rows: repeat(3, auto);
  gap: 1vh;
 
  border-radius: 8px;
  box-shadow: -5px 5px 15px gray;
  padding-bottom: 2vh;
  text-align: center;
}

#project-links div :not(:first-child) {
  padding: 0 1em;
}

/* Project Image */
.proj-img {
  height: 30vh;
  border-radius: 8px 8px 0 0;
  background-size: cover;
  background-repeat: no-repeat;

}

#cv-app {
  background-image: url('src/assets/projects/mobile/cv_editor.png');
}

#weather-app {
  background-image: url('src/assets/projects/mobile/weather_app.png');
}

#memory-card {
  background-image: url('src/assets/projects/mobile/memory_card.png');
}

#battleship {
  background-image: url('src/assets/projects/mobile/battleship.png');
}

/* Project Summary */
.proj-sum h2{
  font-weight: bolder;
  margin-bottom: 10px;
}

/* Project Links */
.proj-links {
  text-align: right;
  margin-top: 10px;
}
