@import "./header/header.css";
@import "./body/body.css";
@import "./footer/footer.css";
@import "reset.css";

#root {
  box-sizing: border-box;
  height: auto;
  width: 100vw;
}

#header, #body {
  padding: 2rem;
}

#container {
  display: grid;
  grid-template-rows: repeat(3 auto);
}

a:link {
  text-decoration: none;
}
